//main.scss
@import "states.scss";
.my-lists {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-item {
  letter-spacing: 0.67px;
  padding: 10px;
  background: white;
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  justify-content: space-between;
  align-items: center;
  button {
    background: transparent;
    color: #888;
    fill: currentColor;
    pointer-events: none;
    opacity: 0;
    @media (max-width: 762px) {
      opacity: 1;
      pointer-events: all;
      border: 1px solid currentColor;
    }
    &.icon-button {
      font-size: 18px;
    }
  }
  @extend %states;
}
.recipe-title {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  a {
    color: black;
    &:hover {
      color: #0fa3b1;
    }
  }
  .count {
    font-size: 16px;
    display: inline-flex;
    width: 2em;
    min-width: 2em;
    height: 2em;
    line-height: 0;
    align-items: center;
    justify-content: center;
    background: #2cadba;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 20px;
  }
}

.lists {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  .list-item {
    button,
    a.button {
      text-transform: capitalize;
      padding: 6px 15px;
      font-size: 12px;
      font-weight: bold;
      &.icon-button {
        padding: 0;
        width: var(--button-size, 28px);
        height: var(--button-size, 28px);
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
    a.primary {
      background: #efefef;
      color: #888;
    }
    button[data-action="rename-list"] {
      --button-size: 30px;
    }
    button[data-action="delete-list"] {
      margin-left: 20px;
    }
  }
}
.list-item:hover {
  button {
    pointer-events: all;
    opacity: 1;
    &:hover {
      background: #f0f0f0;
    }
    &.danger:hover {
      background: var(--danger, #ef5753);
      color: white;
    }
  }
}

//create list button and form
//lists-action moved to global.scss

button.button-minimal {
  appearance: none;
  background: transparent;
  width: 100%;
  margin: 0;
  &:hover {
    background: #efefef;
  }
}
