//main.scss

.my-lists {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-item {
  padding: 10px;
  background: white;
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  justify-content: space-between;
}

.list-item button {
  padding: 6px 15px;
  font-size: 12px;
  font-weight: bold;
}
